pyttsx3
SpeechRecognition
pyaudio
wikipedia
AppOpener
pyautogui
pywhatkit
PySide6
psutil
google-generativeai
Pillow
requests
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
beautifulsoup4
yfinance
translators